@font-face {
    font-family: 'title';
    src: url('fonts/audimat-regular-webfont.woff2') format('woff2'),
    url('fonts/audimat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'main';
    src: url('fonts/delicious-roman-webfont.woff2') format('woff2'),
    url('fonts/delicious-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'numbers';
    src: url('fonts/lmmono10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'main';
    background-image: url(images/striped_bg.png);
    color: #000;
    margin: 0 0 0 0;
}

html, body {
    height: 100%;
}

/* Headers */
h1 {
    font-family: 'title';
    font-size: xx-large;
}
h2 {
    font-family: 'numbers';
    font-size: large;
    height: 0;
    margin-bottom: 2em;
    text-align: center;
}
h3 {
    font-size: smaller;
    text-align: left;
    color: red;
    font-style: italic;
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Images */
img#header {
    width: 80%;
    display: block;
    margin: auto;
}

/* Sections */
div#main {
    background-image: url(images/bg.png);
    background-repeat: repeat-y;
    background-position: center;
    width: 850px;
    margin: 0 auto;
    padding: 0.5em;
    min-height: 100%;
}
div#content {
    width: 600px;
    height: auto;
    margin: 0 auto;
}
div#bar {
    background-color: #2c2a78;
    text-align: center;
    color: #fff;
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
div#errors {
    background-color: #000;
    text-align: left;
}

/* Forms */
form {
    font-family: 'title';
    background-color: #edecf9;
    width: 300px;
    margin: 1em auto;
    padding: 1em;
    border: 1px #000 dotted;
    font-weight: bold;
    line-height: 1.5em;
}
input.fields {
    width: 210px;
    font-size: smaller;
    font-weight: normal;
    color: #2c2a78;
}
textarea {
    width: 290px;
    font-size: smaller;
    font-weight: normal;
    color: #2c2a78;
    resize: vertical;
}
input#submit_button {
    font-family: 'title';
    font-size: large;
    font-weight: bold;
    background-color: #2c2a78;
    color: #fff;
    border: 0;
}

/* Paragraphs */
p#messages {
    font-size: small;
    margin-left: inherit;
}